<form method="POST">
  <input name="email" type="text" placeholder="Email">
  <input name="password" type="password" placeholder="Password">
  <button>Login</button>
</form>
<a href="/register">Register</a>

